@font-face {
    font-family: 'mns-bold';
    src: url('../assets/fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'mns-light';
    src: url('../assets/fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'mns-medium';
    src: url('../assets/fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'everlasting';
    src: url('../assets/fonts/Everlasting.ttf') format('truetype');
}

@font-face {
    font-family: 'myriad';
    src: url('../assets/fonts/Myriad_Pro.ttf') format('truetype');
}

@font-face {
    font-family: 'mnd';
    src: url('../assets/fonts/Mont-Heavy-DEMO.ttf') format('truetype');
}

$mns-bold-font: 'mns-bold', sans-serif;
$mns-light-font: 'mns-light', sans-serif;
$mns-medium-font: 'mns-medium', sans-serif;
$everlasting-font: 'everlasting', sans-serif;
$myriad-font: 'myriad', sans-serif;
$mnd-font: 'mnd', sans-serif;

// Цвета
$yellow-color: #FAE300;
$orange-color: #efb341;
$green-color: #B7DC99;
$brown-font-color: #875216;
$pink-color: #f8abbf;
$light-yellow: #fae3008c;
$form-bg: #fafee7;
$checkbox-bg: #f9f985;
$button-yellow: #FEEB8F;
$button-brown: #996632;