@use '../../styles/mixins' as *;
@use '../../styles/vars' as *;

.main_section {
    display: flex;
    height: auto;
    width: 100%;

    .text_section_div {

        margin-top: 300px;
        margin-left: 220px;
        width: 100%;

        .h1_text_section {
            font-family: $everlasting-font;
            font-size: 5vw;
            line-height: 110.4px;
            color: rgb(135, 82, 22, 100%);
            position: absolute;
            z-index: 3;
        }

        .line {
            position: absolute;
            margin-top: 171px;
            margin-left: 349px;
            z-index: 0;
            width: 100%;
            max-width: 350px;
        }

        .other_text {
            font-size: 2.5vw;
            color: #EE9FA5;
            padding-top: 270px;
            font-family: $mns-bold-font;
            position: relative;
            z-index: 3;
        }

        .p_section {
            font-family: $mns-light-font;
            font-size: 24px;
            line-height: 40.8px;
            max-width: 900px;
            padding-top: 20px;
            position: relative;
            z-index: 3;
        }

        .button_contact {
            position: relative;
            z-index: 3;
            
            button {
                @include contact_button_mixin;
            }
            
        }
    }

    .section_img {
        width: 50%;
        display: flex;
        justify-content: end;
        
        img {
            position: absolute;
            width: 100%;
            max-width: 750px;
            z-index: 1;
        }
    }
}

.line_section_green {
    @include line-section;
    background: $green-color;
    margin-top: 30px;

}

.line_section_yellow {
    @include line-section;
    background: $yellow-color;
    margin-top: 30px;
}

.line_section_pink {
    @include line-section;
    background: $pink-color;
    margin-top: 300px;
}

.line_section_orange {
    @include line-section;
    background: $orange-color;
    margin-top: 70px;
}

.container {
    display: grid;
    justify-content: center;

    .container_ind_lessons {
        display:flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 60px;
        flex-wrap: wrap;

        .home_card {
            max-width: 353px;
            padding: 0px 10px 80px 20px;   
            border-radius: 10px;      
            box-shadow: 0px 0px 20px 1px $pink-color;                                                                                            
        }

        .yellow_card {
            background-color: rgba(249, 227, 141, 0.85); 
        }
        
        .orange_card {
            background-color: #fdd66d;
        }        

        .white_card {
            background-color: $form-bg;
        }

        .green_card {
            background-color: $green-color;
            padding-right: 20px;
            height: 85%;
            margin-top: 20px;
        }

        .pink_card {
            background-color: $pink-color;
        }

        .loop_left {
            position: absolute;
            margin-top: 29px;
            margin-left: 314px;
        }
        
        
        .loop_right {
            position: absolute;
            margin-top: 29px;
            margin-left: 686px;
        }

        .text_feedback {
            position: absolute;
            width: 588px;
            margin-top: 20px;
            margin-left: 45px;
        }
        
        .bg_feedback {
            width: 100%;
            height: 391px;
        }
        
        .bg_feedback_mbl {
            display: none;
        }
    }

    .li_arrow {
        @include description-text-mixin;
        font-family: $mns-light-font;
        list-style-image: url("../../assets/images/li_arrow.png");
    }
    
    .li_arrow_yellow {
        @include description-text-mixin;
        font-family: $mns-light-font;
        list-style-image: url("../../assets/images/li_arrow_yellow.png");
    }

    .li_arrow_description {
        @include description-text-mixin;
        font-family: $mns-light-font;
        list-style-image: url("../../assets/images/li_arrow.png");
        margin-top: 0px;
    }

    .description_text {
        @include description-text-mixin;
        font-family: $mns-light-font;
    }

    .text_price {
        font-family: $mns-bold-font;
        @include description-text-mixin;
    }

    .container_content {
        @include container-content-mixin;    

        .price_full_two {
            display: flex;
            padding-top: 30px;
            padding-bottom: 30px;
            margin-left: 40px;

            .price_text_block_two {
                @include price-text-block-mixin;
                padding-right: 140px;
                padding-left: 30px;
                
                .price_title_two {
                    @include price-title-mixin;
                    padding-left: 0px;
                }

                .text_price {
                    @include description-text-mixin;
                }
            }
        }

        .price_text_li_yellow {
            font-family: $mns-light-font;
            font-size: 21px;
            list-style-image: url("../../assets/images/li_yellow.png");
            line-height: 1.2;
        }

        .price_text_li_block {
            margin-top: 30px;
        }

        .price_full {
            display: flex;
            padding-top: 20px;
            padding-bottom: 20px;

            .price_text_block { 
                @include price-text-block-mixin;
                padding-left: 60px;

                .circle_two {
                    @include circle_mixin;
                    margin-left: 170px;
                }

                .price_title {
                    @include price-title-mixin;
                }

                .price_text_li {
                    font-family: $mns-light-font;
                    font-size: 21px;
                    list-style-image: url("../../assets/images/li.png");
                    line-height: 1.2;
                }
            }
        }

        .price_and_button {
            display: flex;
            
            .price__ot {
                font-family: $mns-bold-font;
                font-size: 14px;
                color: $green-color;
                padding-top: 25px;
                padding-right: 5px;
            }

            .price_bottom_text {
                font-family: $mnd-font;
                font-size: 40px;
                color: $green-color;
                font-weight: bold;

                span {
                    font-family: $mns-bold-font;
                    font-size: 14px;
                    color: $green-color;
                    margin-top: -6px;
                    position: absolute;
                }
                
            }

        }

        .price_button {
            margin-top: 24px;
            margin-left: 57px;
            margin-right: 10px;
            background-color: rgba(249, 227, 141, 0.85);
            border: none;
            border-radius: 100px;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 10px;
            padding-bottom: 10px;
            font-family: $mns-bold-font;
            font-size: 19px;
            color: $brown-font-color;
            cursor: pointer;

            &:hover {
                background-color: $pink-color;
                color: white;
                transition: 0.7s;
            }
        }

        .duration_price_block {
            margin-top: 30px;
        }

        .duration_price {
            font-family: $mns-bold-font;
            font-size: 21px;
            color: $brown-font-color;
        }

        .bg_img {
            max-width: 420px;
        }

        .bg7_img {
            max-width: 720px;
            max-height: 656px;
            height: 480px;
            padding-left: 50px;
        }
        
        .price_text_block_bottom {
            width: 100%;
            padding-left: 145px;
        }

        .price_title_bottom {
            font-family: $mns-bold-font;
            font-size: 23px;
            line-height: 1.2;   
            color: $brown-font-color;
        }
        
        .text_price_bottom {
            @include description-text-mixin;
            font-family: $mns-light-font;
        }

        .text_price_bottom_span {
            font-family: $mns-bold-font;
        }
    }
    
    .block_languages {
        display: flex;
        flex-wrap: wrap;
        gap: 80px;
        justify-content: space-between;
        margin-top: 30px;

        .card_link_languages {
            text-decoration: none;
        }

        .languages_card {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 200px;
            justify-content: space-between;

            .img_card_languages {
                max-width: 150px;
                margin: 0 auto;
                cursor: pointer;
                max-height: 150px;
                width: 150px;
                height: 150px;
                object-fit: contain;
                flex-shrink: 0;
            }
            
            .text_card_languages {
                font-family: $mns-bold-font;
                font-size: 16px;
                color: $brown-font-color;
                padding-top: 10px;
                margin-top: auto;
                flex-shrink: 0;
            }
            
            .khover {
                opacity: 0;
                position: absolute;
                max-width: 200px;
                z-index: -1;
            }
            
            &:hover {
                .khover {
                    opacity: 2;
                    transition: 0.7s;
                    z-index: 9999;
                }
            }
        }
    }

    .container_groups_card {
        display:flex;
        margin-top: 30px;
        margin-bottom: 60px;
        background-color: $button-yellow;
        border-radius: 20px;
        justify-content: space-between;

        .group_card_description {
            width: 45%;
            padding: 0px 20px 40px 20px;    
        }

        .middle_group_card {
            background-color: $pink-color;
            width: 10px;
            height: 80%;
            align-self:center; 
        }
    }

    .arrow_block {
        margin-top: 36px;

        @include arrow-block-mixin;
    }   

    .anim_arrow {
        display: flex;
        justify-content: end;
        position: relative;
        -webkit-animation: bounce-down 1.6s linear infinite;
        animation: bounce-down 1.6s linear infinite;
        margin-left: 60px;
    }
}

.circle {
    @include circle_mixin;
}