@use '../../styles/_vars' as *;
@use '../../styles/_mixins' as *;

.line_section_pink {
    @include line-section;
    background: $pink-color;
}
.center_block_wrapper {
    overflow: hidden;
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .container_content {
        width: 85%;
        display: flex;
        margin: 60px auto;

        .left_content {
            position: relative;

            .circle_lang {
                position: absolute;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                background-color: black;
                left: 82px;
                top: -10px;
                z-index: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                line-height: 1.2;

                .text_circle {
                    z-index: 2;
                    color: white;
                    font-family: $mns-bold-font;
                    font-size: 18px;
                }

                .levels_circle {
                    z-index: 2;
                    color: $pink-color;
                    font-family: $mns-bold-font;
                    font-size: 23px;
                }
            }

            .bg_book {
                width: 1100px;
            }

        }

        .right_content {
            
            padding-top: 50px;
            padding-left: 50px;

            .rotated_text {
                font-size: 50px;
                font-family: $hamilton-font;
                line-height: 30px;
                transform: rotate(10deg);
            }

            .title_top_part {
                font-size: 60px;
                font-family: $mns-bold-font;
                color: $pink-color;
            }

            .title_bottom_part {
                font-family: $mns-bold-font;
                font-size: 100px;
            }

            .text_course {
                padding-top: 80px;
                line-height: 1.2;
                font-size: 27px;
                font-family: $mns-light-font;
            }

            .text_education {
                padding-top: 120px;
                line-height: 1.2;
                font-size: 24px;
                font-family: $mns-bold-font;
            }

            .small_text {
                padding-top: 30px;
                font-size: 18px;
                line-height: 1.2;
                font-family: $mns-light-font;
            }
        }
    }

    .gif_container {
        width: 80%;
        display: flex;
        background-color: $button-yellow;
        margin: 60px 0px;
        box-shadow: 0px 0px 20px 1px #f8abbf;
        border-radius: 30px;
        justify-content: space-between;

        .gif_left_block {
            width: 50%;
            padding: 15px 30px;
            
            .gif_title {
                font-family: $everlasting-font;
                font-size: 73px;
                text-shadow: 7px 7px 14px #f8abbf;
                color: $brown-font-color;
                line-height: 88px;
            }

            .gif_text {
                font-family: $mns-bold-font;
                font-size: 34px;
                line-height: 41px;
                color: black;
            }
            
            .gif_text_span {
                font-family: $hamilton-font;
                font-size: 34px;
                line-height: 41px;
                color: black;
            }

            .price_button {
                margin-top: 24px;
                margin-bottom: 20px;
                background-color: $pink-color;
                border: none;
                border-radius: 100px;
                padding: 15px 35px;
                font-family: $mns-bold-font;
                font-size: 40px;
                color: white;
                cursor: pointer;
                box-shadow: 5px 5px 12px -4px rgba(0, 0, 0, 0.4784313725);

                
                &:hover {
                    background-color: $yellow-color;
                    color: $brown-font-color;
                    transition: 0.7s;
                }
            }
        }

        .gif_right_block {
            width: 45%;
            padding: 15px 30px;
            background-color: white;
            height: 90%;
            border-radius: 30px;
            margin: auto 30px auto auto;
            
            .gif_text_in_section {
                font-family: $mns-bold-font;
                font-size: 25px;
                color: black;

                .gif_text_markdown {
                    background-color: $green-color;
                }
            }
        }
    }
}


.center_block {
    min-height: 100vh;  
    
    .h1_langs {
        font-family: $everlasting-font;
        font-size: 7vw;
        line-height: 110.4px;
        color: $brown-font-color;
        margin-top: 20px;
        position: relative;
        z-index: 1;
    }

    .circle {
        @include circle_mixin;
        margin: 0px;
        top: 100px;
        transition: 0.5s;
        opacity: 0;
        transform: translateX(-50px);
        animation: slideIn 0.8s ease-out forwards;
    }

    .line {
        position: absolute;
        right: -73px;
        bottom: -9px;
        z-index: 0;
        width: 100%;
        max-width: 350px;   
        transition: 0.5s;
        opacity: 0;
        transform: translateY(50px);
        animation: slideUp 0.8s ease-out forwards;
    }

    @keyframes slideUp {
        to {
          opacity: 1;
          transform: translateY(0);
        }
    }

    @keyframes slideIn {
        to {
          opacity: 1;
          transform: translateX(0);
        }
    }

    .eng_girl_img {
        width: 100%;
        max-width: 520px;
        margin-top: 20px;
    }

    .lang_animation_block {
        position: absolute;
        pointer-events: none;
        text-align: center;
        align-content: center;
        border-radius: 30px;
        font-family: $mns-bold-font;
        font-size: 2vw;
        height: 60px;
        padding: 0px 40px;
        box-shadow: 0px 0px 20px 1px #f8abbf;
    }

    .lang_block_1 {
        background-color: $button-yellow;
        top: 32%;
        left: 10%;
    }

    .lang_block_2 {
        background-color: $green-color;
        top: 46%;
        left: 13%;
    }

    .lang_block_3 {
        top: 65%;
        left: 18%;
        background-color: $pink-color;
    }


    .lang_block_4 {
        top: 80%;
        left: 11%;
        background-color: $white-color;
    }

    .lang_block_5 {
        top: 38%;
        right: 10%;
        background-color: $pink-color;
    }

    .lang_block_6 {
        top: 53%;
        right: 15%;
        background-color: $white-color;
    }

    .lang_block_7 {
        top: 69%;
        right: 13%;
        background-color: $button-yellow;
    }

    .lang_block_8 {
        top: 84%;
        right: 13%;
        background-color: $green-color;        
    }
}

